<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="logs/" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="{&quot;SchemaVersion&quot;:%property{SCHEMAVERSION},&quot;Category&quot;:&quot;%property{CATEGORY}&quot;,&quot;Level&quot;:&quot;%level&quot;,&quot;SecurityAlertLevel&quot;:&quot;%property{SECURITYALERTLEVEL}&quot;,&quot;Timestamp&quot;:&quot;%d{yyyy-MM-dd HH:mm:ss}&quot;,&quot;Thread&quot;:&quot;%t&quot;,&quot;Application&quot;:%property{APPPARAMS},&quot;Context&quot;:%property{CONTEXTPARAMS}, &quot;Details&quot;:%property{DETAILS},&quot;Message&quot;:&quot;%message&quot;}%newline"  />
    </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="INFO"/>
        </filter>
    <datePattern value="'IDPrimeVirtualServer-'dd.MM.yyyy'.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="5MB" />
    <countDirection value="1" />
    <staticLogFileName value="false" />
    <preserveLogFileNameExtension value="true" />
  </appender>
  <appender name="stdout" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="{&quot;SchemaVersion&quot;:%property{SCHEMAVERSION},&quot;Category&quot;:&quot;%property{CATEGORY}&quot;,&quot;Level&quot;:&quot;%level&quot;,&quot;SecurityAlertLevel&quot;:&quot;%property{SECURITYALERTLEVEL}&quot;,&quot;Timestamp&quot;:&quot;%d{yyyy-MM-dd HH:mm:ss}&quot;,&quot;Thread&quot;:&quot;%t&quot;,&quot;Application&quot;:%property{APPPARAMS},&quot;Context&quot;:%property{CONTEXTPARAMS}, &quot;Details&quot;:%property{DETAILS},&quot;Message&quot;:&quot;%message&quot;}%newline"  />
  </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="INFO"/>
        </filter>
  </appender>
  <appender name="ApiPerformanceRollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="logs/" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="{&quot;Timestamp&quot;:&quot;%d{yyyy-MM-dd HH:mm:ss}&quot;,&quot;Thread&quot;:&quot;%t&quot;,&quot;Message&quot;:&quot;%message&quot;}%newline"  />
    </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="INFO"/>
        </filter>
    <datePattern value="'IDPV-Api-Performance-'dd.MM.yyyy'.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="50MB" />
    <countDirection value="1" />
    <staticLogFileName value="false" />
    <preserveLogFileNameExtension value="true" />
  </appender>
  <root>
    <level value="ALL" />
  </root>
  <logger name="mainlogger" addictivity="false">
    <level value="ALL" />
    <appender-ref ref="RollingFile" />
    <appender-ref ref="stdout" />
  </logger>
  <logger name="apiperformance" addictivity="false">
    <level value="Info" />
    <appender-ref ref="ApiPerformanceRollingFileAppender" />
  </logger>
</log4net>
